* {
    margin: 0;
    padding: 0;
    color: #FFF200;
    font-family: "Franklin";
    text-decoration: none;
    list-style-type: none;
}

.blink {
    animation: blinkers 1.5s linear infinite;
}

@keyframes blinkers {
    50% {
        opacity: 0;
    }
}

body {
    background-color: #D6E6F2;
}

/* navbaar */
.nav-list {
    background-color: #303481;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 17px 0;

}

.navbar-item {
    margin: 0 20px;
    list-style-type: none;


}

.toggle {
    list-style-type: none;
    display: none;
    margin: 0 20px;
}

.navbar-link {
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
}

.navbar-link:hover {
    color: #F5F5F5;
}

.logo {

    cursor: pointer;
    margin-right: auto;
    margin-left: 50px;
    list-style-type: none;
}

.logo a {
    text-decoration: none;
}

.navbar-button {
    font-size: 1em;
    background-color: #8696FE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 15px;
    font-size: xx-large;
}

.navbar-button:hover {
    background-color: #D6E6F2;
    color: black;
}

@media screen and (max-width: 768px) {
    .toggle {
        display: block;
    }

    .nav-list {
        flex-wrap: wrap;

    }

    .navbar-item {
        display: none;
        text-align: right;
        margin: 20px;
        margin-right: 50px;
        width: 100%;
    }

    .active {
        display: block;
    }

    .navbar-button {

        justify-content: center;
        margin-left: auto;
        display: flex;
        width: 25%;

    }

}


/* title */
.title {
    padding: 50px 50px;
}

.title-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.character {
    flex: 1;
    text-align: center;
    margin: auto;
}

.character-img {
    width: 350px;
    border-radius: 3%;
}

.big-heading {
    flex: 1;
    margin-left: 30px;
    margin-top: 50px;
}

.big-heading h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #F0DE36;
    text-shadow: 5px 2px 1px #303481;

}

.big-heading p {
    font-size: 1.5em;
    margin-bottom: 50px;
}

.explore-button {
    background-color: #303481;
    border: none;
    border-radius: 12px;
    font-size: 1em;
    font-weight: bold;
    margin-right: 20px;
    padding: 20px 50px;

}

.explore-button a {
    text-decoration: none;
    color: #FFF200;

}

.explore-button:hover {
    background: #8696FE;
}

.explore-button:hover a {
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .big-heading {
        margin-left: 30px;
    }
}

@media screen and (max-width: 912px) {
    .title-container {
        flex-direction: column;

    }

    .big-heading {
        margin: 0;
        text-align: center;
        margin-top: 30px;
    }

    .character {
        margin: auto;
        text-align: center;
        margin-top: 50px;
    }

    .character-img {
        margin: auto;
        text-align: center;
        width: 320px;
        display: flex;
    }

}

@media screen and (max-width:500px) {
    .character-img {
        width: 250px;
    }

}

@media screen and (max-width:320px) {
    .character-img {
        width: 200px;

    }

    .big-heading p {
        font-size: 0.7em;
    }

    .explore-button {
        padding: 10px 20px;
        font-size: small;
    }

    .navbar-button {
        width: 40%;
    }
}



/* colection */
.collection {
    margin-top: 25px;
    background-color: #D6E6F2;
    text-align: center;
    padding: 50px 0;

}

.collection h2 {
    color: #303481;
    font-size: 4em;
    margin-bottom: 30px;
}

.collection-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.collection-card {
    display: flex;
    margin: 10px;
    margin-top: 20px;
    background: #303481;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 0 10px grey;

}

.collection-card:hover {
    box-shadow: 0 0 15px gray;
}

.img-box {
    width: 310px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.img-box img {
    height: 100%;
    transition: 0.5s ease-in-out;
    width: 100%;
}

.img-box:hover img {
    transform: scale(1.1);
}

.collection-card h3 {
    color: #D6E6F2;
    font-weight: bold;
    margin: 5px 0 10px 0;
    text-align: center;
}

.spacies {
    color: #FFF200;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    text-decoration: underline;
}

.tipe {
    color: #FFF200;
    font-weight: bold;
    margin: 10px 10px 0;
    font-size: larger;
    text-align: center;
}

.card-button {
    background-color: #8696FE;
    border: none;
    padding: 15px 80px;
    border-radius: 10px;
    color: #F0DE36;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 20px 20px;
}

.card-button:hover {
    background-color: #F5F5F5;
    box-shadow: 0px 0px 15px grey;
    color: #303481;
}

@media screen and (max-width:425px) {
    .img-box{
        width: 100%;
        height: 220px;
    }
    .collection-card{
        width: 58%;
    }
    .card-button{
        padding: 8px 15px;
    }
}
@media screen and  (max-width:320px){
    .img-box{
        width: 100%;
        height: 200px;
    }
    .collection-card{
        width: 58%;
    }
    .card-button{
        padding: 8px 15px;
    }
    }

/* aaside */
aside {
    background-color: #D6E6F2;
    justify-content: center;
    display: flex;
}

.biography-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #303481;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

.biography-card img {
    border-radius: 10px;
}

.biography-card:hover {
    box-shadow: 0 0 15px gray;
}

.biography-card h3 {
    margin: 5px 0 10px;
    color: #D6E6F2;
    font-weight: bold;
}

.contact {
    margin: 20px 10px;
}


.social-media {
    padding: 0 5px;

}

.social-media img {
    height: 30;
    transition: 0.5s ease-in-out;
    width: 30;
}

.social-media:hover img {
    transform: scale(1.5);
}


/* footer */
footer p {
    color: #FFF200;
    text-align: center;
    padding: 30px 0;
    background-color: #303481;
}

.card {
    position: relative;
    width: 300px;
    margin: 20px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
    width: 300px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #303481;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #FFF200;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #F0DE36;
    line-height: 1.4;
}

@media screen and (max-width:375px){
    .card{
        width: 180px;

    }
    .card img{
        width: 100%;
    }
}